@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

html {
    background-color: #041C32;
    font-size: 16px;
}

.contenedorGeneral {
    width: 100%;
    height: 100vh;
    background-color: #041C32;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.fondoSeccionUno {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2% 2%;
}

.fondoSeccionDos {
    width: 100%;
    height: auto;
}

.tituloBoton {
    color: aliceblue
}

.textoInicio {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: start;
}

.subTituloInicio {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1vw;
}

.fotoNombre {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.foto {
    width: 50%;
    height: auto;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    border-radius: 512px;
    border: 2px solid white;
}

.navbarButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto
}

.tituloInicio {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    white-space: wrap;
}

.navbar {
    background-color: #04293A;
    display: flex;
    width: 20%;
    height: 100%;
    position: fixed;
    overflow: auto;
    flex-direction: column;
    align-items: baseline;
    padding: 0;
}

.black {
    background-color: #000;
    padding: 10% 5%;

}

.textoNavbar {
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    margin: 0 auto;
}

.botonNavbar {
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    margin: 0 auto;
    text-decoration: none;
}

.botonNavbar:hover {
    color: #7b7d1e;
}

.botonNavbar::link {
    color: white;
}

.textoAbout-me {
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 85%;
    text-align: justify;
}

.tituloAbout-me {
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    text-align: center;
}

.border-top {
    border-top: 1px solid white;
    width: 50%;
}

.border-bottom {
    border-bottom: 1px solid white;
    width: 50%;
}

.about-me {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical {
    display: flex;
    flex-direction: row;
}

.center {
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(236, 236, 236);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}